.container{
	background-color: grey;
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
	text-align: center;
}
.picture{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 3px 0px 4px black, -3px 0px 5px black;
	height: 320px;
	width: 660px;
}
.header1{
	background-color: green;
	width: 100%;
	height: 100px;
	text-align: center;
	max-height: 670px;
	float: left;
}
.navbar{
	float: left;
	width: 100%;
}