.container{
	background-color: grey;
	width: 1200px;
	height: 1000px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}


.picture{
position: absolute;
left: 50%;
transform: translateX(-50%);
box-shadow: 3px 0px 4px black, -3px 0px 5px black;
height: 320px;
}
.header1{
	background-color: green;
	width: 100%;
}
.navbar{
	position: absolute;
	width: 100%;
	top: 340px;
}